@page "/"
@inject IToastService toastService

<h1>Hello, world!</h1>

Welcome to blazor server app
<br />
<br />
<h5>This blazor applicaton uses </h5>
<br />
<li>Blazor modal https://github.com/Blazored/Modal</li>
<li>Blazor toast https://github.com/Blazored/Toast</li>
<br />
<br />
<h5> Api definitions </h5>
<br />
<br />
<li> Ocelot API gateway swagger : http://localhost/swagger/index.html </li>
<li> Accounting API swagger : http://localhost:5001/swagger/index.html </li>
<li> Transactions API swagger : http://localhost:5002/swagger/index.html </li>



